~$*
.DS_Store
.Rproj.user
.Rhistoryt
.Rhistory
.venv/
*log
*cache*
.env
/.quarto/
/_site/
/.condaenv/
/.luarc.json
/_*.local

# Anything that isnt groupings.csv or region_template.jinja in the regions folder
content/inventory/regions/*
# Un-ignore specific files
!content/inventory/regions/groupings.csv
!content/inventory/regions/region_template.jinja

**/*.quarto_ipynb
