---
# Example: https://github.com/quarto-dev/quarto-web/blob/main/_quarto.yml
project:
  type: website
  output-dir: _site
  preview:
    port: 4200
    browser: false
  resources:
    - "/.nojekyll"
    - "/static/*"
  render:
    - "*.qmd"
    - "*.ipynb"
    - "*.Rmd"
    - "*.md"
  # https://quarto.org/docs/projects/scripts.html
  pre-render:
    - "scripts/pre-render/region_inventory.py"

# https://github.com/quarto-dev/quarto-actions/blob/main/examples/example-02-freeze.md
execute:
  freeze: auto

website:
  title: "Phytoplankton Indicator Phase 2"
  description: "Puget Sound Partnership Phytoplankton Indicator, Phase 2"
  favicon: /static/logo_phytoindicator.svg
  page-navigation: true
  back-to-top-navigation: false
  repo-url: https://github.com/GSIEnvironmental/Phytoplankton_Indicator_Phase2
  issue-url: https://github.com/GSIEnvironmental/Phytoplankton_Indicator_Phase2/issues/new
  open-graph: true
  bread-crumbs: true
  search:
    location: sidebar
    type: textbox
    copy-button: true
    keyboard-shortcut: ["/", "H"]
    show-item-context: true
  page-footer:
    left: "&copy; 2025 [GSI Environmental Inc.](https://gsienv.com)"
    center: |
      [![](/static/logo.svg){fig-alt="GSI Environmental Inc." width=65px}](https://gsienv.com)
      [![](/static/logos/puget-sound-partnership.png){fig-alt="PugetSound Partnership" width=100px}](https://www.psp.wa.gov/)
      [![](/static/logos/university-of-washington.png){fig-alt="University of Washington" width=70px}](https://www.washington.edu/)
      [![](/static/logos/wa-ecology.svg){fig-alt="Washington Ecology" width=100px}](https://ecology.wa.gov/water-shorelines/shoreline-coastal-management/padilla-bay-reserve)
    right: |
      Built with [Quarto](https://quarto.org)
  navbar:
    title: false
    logo: /static/favicon.ico
    logo-alt: "GSI Environmental Inc."
    collapse-below: lg
    background: "#D9E3E4"
    left:
      - text: "Inventory"
        href: content/inventory/index.qmd
      - text: "Data Management"
        href: content/data-management/index.qmd
      - text: "Analysis"
        href: content/analysis/index.qmd
    right:
      - text: "About"
        href: about.qmd
    tools:
      - icon: github
        href: https://github.com/GSIEnvironmental/Phytoplankton_Indicator_Phase2
        text: "GitHub"

  sidebar:
    - id: inventory
      collapse-level: 2
      align: left
      style: "floating"
      contents:
        - content/inventory/index.qmd
        - auto: "content/inventory/*"
        - section: "Regions"
          contents:
            - auto: "content/inventory/regions/*"
    - id: analysis
      collapse-level: 1
      align: left
      style: "floating"
      contents:
        - content/analysis/index.qmd
        - auto: "content/analysis/*"
    - id: data-management
      collapse-level: 2
      align: left
      style: "floating"
      contents:
        - content/data-management/index.qmd
        - auto: "content/data-management/*"
        - section: "Data Handling & QA/QC"
          href: "content/data-management/studies/index.qmd"
          contents:
            - auto: "content/data-management/studies/*/index.qmd"

format:
  live-html:
    theme:
      light: [cosmo, static/theme.scss]
    css: static/styles.css
    brand: _brand.yaml
    toc: true
    toc-depth: 3
    code-copy: true
    code-fold: true
    code-overflow: wrap
    code-line-numbers: false
    code-annotations: below
    highlight-style: github-dark
    link-external-newwindow: true
    filters:
      - black-formatter
      - downloadthis
      - diagram
    grid:
      sidebar-width: 250px
      body-width: 900px
      margin-width: 300px
    include-in-header:
      - text: |
          <script
            src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
            crossorigin="anonymous">
          </script>
