---
title: "{{region}}"
order: {{ order }}
echo: true
engine: knitr
---

```{r}
# Load packages
suppressMessages({
 library(dplyr)
 library(ggplot2)
 library(plotly)
 library(glue)
 library(htmltools)
})

# Query GSIDB
get_data <- function(sql) {
con <- DBI::dbConnect(
  drv = RPostgres::Postgres(),
  dbname = Sys.getenv("POSTGRES_DATABASE"),
  host = Sys.getenv("POSTGRES_HOST"),
  port = Sys.getenv("POSTGRES_PORT"),
  user = Sys.getenv("POSTGRES_USER"),
  password = Sys.getenv("POSTGRES_PASSWORD")
)
on.exit(DBI::dbDisconnect(con))
DBI::dbGetQuery(con, sql)
}

# A table with searching and a download button to export as csv
make_table <- function(data, id, name) {
t_id <- glue('{id}_{name}_table')
file <- glue('{id}_{name}.csv')
tagList(
  tags$div(
    style = "display: flex; justify-content: space-between;",
    tags$button(
      class = "btn btn-sm btn-primary rounded-3",
      "Download as CSV",
      onclick = glue("Reactable.downloadDataCSV('{t_id}', '{file}')")
    ),
    tags$input(
      class = "rt-search",
      type = "text",
      placeholder = "Search",
      oninput = glue("Reactable.setSearch('{t_id}', this.value)")
    )
  ),
  reactable::reactable(
    data, 
    searchable = FALSE,
    showPageSizeOptions = TRUE,
    elementId = t_id
  )
)
}

```
::: {.panel-tabset}

{% for group in groupings %}
## {{ group.0 }}-{{ group.1 }}

### Data By Provider
```{r}

sql <- "
select
    {% if region != 'Global' %}
    area_id,
    {% endif %}
    provider,
    {{group.3}} as parameter,
    extract(year from sample_date) as year, 
    count(*) as n_measurements
from
    {{group.2}}
where
    1=1
    {% if region != 'Global' %}
        and area_id = '{{ region }}'
    {% endif %}
    and {{group.3}} = '{{group.1}}'
group by
    {% if region != 'Global' %}
    extract(year from sample_date), area_id, provider, {{group.3}}
    {% else %}
    extract(year from sample_date), provider, {{group.3}}
    {% endif %}
order by
    year, provider
"

data <- get_data(sql)
names(data) <- c(if('{{region}}' != "Global") "Area", "Provider", "Parameter", "Year", "Measurement Count")
if(nrow(data) == 0) {
    cat("No data available")
} else {
 make_table(data, id = "{{region}}_{{group.0}}_{{group.1}}", name = "summary")
} 

```

### Geographical Extent

```{r}

sql <- "
select
    location_id, 
    loc_desc as description,
    st_x(st_transform(loc_geom, 4326)) as lon, 
    st_y(st_transform(loc_geom, 4326)) as lat,
    COUNT(*) AS record_count 
from
    {{group.2}}
where
    1=1
    and loc_geom is not null
    {% if region != 'Global' %}
        and area_id = '{{ region }}'
    {% endif %}
    and {{group.3}} = '{{group.1}}'
GROUP BY 
    location_id, loc_desc, lon, lat
"

data <-get_data(sql) |> 
  mutate(tooltip = glue("Location ID: {location_id}<br>Location Description: {description}<br>Sampe Count: {record_count}"))
if(nrow(data) == 0) {
    cat("No data available")
} else {
  # Plotly doesn't auto center map on data points with R
  center_lon <- mean(data$lon)
  center_lat <- mean(data$lat)
  zoom <- ifelse('{{region}}' == "Global", 6, 8)

  plot_ly(
    data = data,
    lon = ~lon,
    lat = ~lat,
    type = 'scattermapbox',
    mode = "markers",
    marker = list(size = 9, line = list(width = 1, color = "black")),
    hovertext = ~tooltip
  ) |> 
  layout(mapbox = list(
    style = "open-street-map",
    center = list(lon = center_lon, lat = center_lat),
    zoom = zoom
  ))
} 
```

### Timeseries
```{r}

sql <- "
select
    date_trunc('month', sample_date)::date as sample_date,
    count(*) as n_measurements
from
    {{group.2}}
where
    1=1
    {% if region != 'Global' %}
        and area_id = '{{ region }}'
    {% endif %}
    and {{group.3}} = '{{group.1}}'
    and sample_date IS NOT NULL
group by
    date_trunc('month', sample_date)::date
"

data <- get_data(sql)
if(nrow(data) == 0) {
    cat("No data available")
} else {
    plot_ly(data, x = ~sample_date, y = ~n_measurements, type = "bar") |> 
    layout(
        title = "{{group.1}} Measurements by Month",
        xaxis = list(title = "Sample Date"),
        yaxis = list(title = "Number of Measurements", tickformat = ",d")
    )
} 
```

### Depth distribution

```{r}

sql <- "
select
    upper_depth,
    depth_units
from
    {{group.2}}
where
    1=1
    and upper_depth is not null
    and depth_units is not null
    {% if region != 'Global' %}
        and area_id = '{{ region }}'
    {% endif %}
    and {{group.3}} = '{{group.1}}'
"

data <- get_data(sql)
if(nrow(data) == 0) {
    cat("No data available")
} else {
    # Define min and max depth for the x-axis
x_min <- 0     # Minimum depth
x_max <- 350   # Maximum depth

# Create histogram
plot_ly(
  data = data, 
  x = ~upper_depth, 
  type = "histogram",
  xbins = list(
    start = x_min,  # Set bin start
    end = x_max,    # Set bin end
    size = 5        # Bin width of 5 meters
  )
) |> 
  layout(
    title = "{{group.1}} Measurements by Depth",
    xaxis = list(
      title = glue("Depth ({toString(unique(data$depth_units))})"),
      range = c(x_min, x_max)  # Ensure fixed depth range
    ),
    yaxis = list(title = "Number of Measurements", tickformat = ",d")
  )
} 

```

### Heatmap
::: {.panel-tabset}
#### Heatmap
```{r}
sql <- "
select
    {{group.3}} as parameter,
    extract(year from sample_date) as year,
    extract(month from sample_date) as month,
    count(*) as n_measurements,
    percentile_cont(0.5) within group (order by result) as median,
    string_agg(distinct units, ', ') as units
from
    {{group.2}}
where
    1=1
    {% if region != 'Global' %}
        and area_id = '{{ region }}'
    {% endif %}
    and {{group.3}} = '{{group.1}}'
group by
    extract(year from sample_date),
    extract(month from sample_date),
    {{group.3}}
    "

# query db
data <- get_data(sql) |>
    filter(!is.na(year), !is.na(month))

if(nrow(data) == 0){
    cat("No data available")
}else{
    data <- data |>
      mutate(
        abb_month = factor(month.abb[month], levels = month.abb),
        median = signif(median, digits = 3),
        tooltip = glue::glue(
      "<b>{abb_month} {year}</b>",
      "<b>Count</b>: {format(n_measurements, big.mark = ',')}",
      "<b>Median</b>: {median} {units}",
      .sep = "<br>",
      .na = "--"
    )
      )

  p <- ggplot(data = data, aes(x = abb_month, y = year, fill = median)) + 
  ggiraph::geom_tile_interactive(aes(tooltip = tooltip), color = "black", width = 1) +
  scale_fill_distiller(
    palette = "Greens",
    direction = 1,
    na.value = "gray90"
  ) +
  #coord_fixed() + # keep tile as square
  scale_x_discrete(
    breaks = month.abb,
    drop = FALSE,
    expand = c(0,0), 
    position = "top"
  ) +
  scale_y_reverse(expand = c(0,0)) +
  labs(y = "Year", fill = paste0("Median {{ group.1 }}\n(",toString(unique(data$units)),")")) +
  theme_bw() +
  theme(
    axis.title.x=element_blank(),
    panel.grid.major = element_blank(),
    panel.grid.minor = element_blank(),
    #legend.position = "bottom"
  )
ggiraph::girafe(ggobj = p) 
}

```
#### Heatmap Data
The heatmap data contains samples from all depths and locations in a given area. 
```{r}
if(nrow(data) == 0) {
  cat("No data available")
} else{
  data |>
    select(
      #Area = area_id,
      Year = year,
      Month = abb_month,
      Parameter = parameter,
      Units = units,
      'Measurement Count' = n_measurements,
      Median = median
  ) |>
  make_table(id = "{{region}}_{{group.0}}_{{group.1}}", name = "heatmap")
}
```
:::
{% endfor %}
:::
