/*
GSI Colors:
    1C6EAC - Blue
    005782 - Dark Blue
    6AD1D8 - Light Blue
    EB7C32 - Orange
    231F20 - Black
    636363 - Gray
    EBEFF2 - Light Gray
    FFFFFF - White

GSI Font: Rajdhani
*/

@media (min-width: 1020px) {
  .navbar-brand-container {
    margin-right: 1em;
  }
}

.navbar-brand > img {
  max-height: 36px;
}

html.dark .dt-container .dt-search input,
html.dark .dt-container .dt-length select {
  border: 1px solid rgb(200, 200, 200) !important;
  background-color: transparent !important;
}
